pyrofork==2.3.68
tgcrypto
aiogram
aiohttp
telethon
cryptg
pytz
telegraph
pycountry
beautifulsoup4
yt-dlp
python-dateutil
motor
aiofiles
python-dotenv
psutil
pydub
speedtest-cli
py-yt-search
smartfaker
qrcode
reportlab
pypdf